
@font-face {
    font-family: "proximanova";
    src: url("fonts/ProximaNovaBold.ttf") format("truetype");
}
 
body {
    font-family: "proximanova";
}

.gradient {
    background: linear-gradient(90deg, #089c21, #2da522); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

.hero {
    max-width: 800px;
    margin: 0 auto;
    padding: 120px 10px;
    text-align: left; 
    transform: translateX(-180px);
} 

.hero h1 {
    font-size: 64px;
    font-weight: 800;
} 
.hero h1 span {
    color: #089c21;
} 

.hero p {
    font-size: 18px;
    margin-top: 20px;
} 

.button {
    padding: 14px 32px;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
} 

.buttons {
    margin-top: 30px;
    display: flex;
    gap : 10px;
} 

.prim {
    background-color: #089c21; 
    color: white;
} 

.outline {
    border: 2px solid #fff; color: white;
} 

.water {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;
    overflow: hidden;
    z-index: -1;
}

.water svg {
    width: 200%;
    height: 100%;
    animation: waveMove 12s linear infinite;
}

.water path {
    fill: linear-gradient(90deg, #089c21, #2da522);
}

.water {
    background: linear-gradient(180deg, transparent, rgba(8,156,33,0.9));
}

@keyframes waveMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
